/* custom-navbar.css */

/* Importar Google Fonts si aún no lo has hecho */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilos personalizados para el navbar */
.custom-navbar {
    background-color: rgb(5, 13, 24,0.9);
    border-bottom: 1px solid rgba(255, 255, 255, 0); /* Línea sutil debajo del navbar */
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra externa */
    transition: background 0.3s ease, box-shadow 0.5s ease; /* Transiciones suaves */
}
/*
.custom-navbar::before {
    top: 0;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-navbar::after {
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 -2px 4px rgba(255, 255, 255, 0.1);
}
*/
/* Estilos para los enlaces del navbar */
.custom-navbar .nav-link {
    color: #f0f0f0;
    font-family: 'Alfa Slab One', sans-serif;
    font-weight: 500;
    transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover {
    color: #bdcfe8; /* Color al pasar el cursor */
}

/* Ajustes para el botón toggler (hamburguesa) */
.custom-navbar .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30'
        xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28
        255, 255, 255, 0.7%29' stroke-width='2' stroke-linecap='round'
        stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Media Queries para Responsividad */
@media (max-width: 992px) {
    .custom-navbar .nav-link {
        color: #ffffff;
    }

    .custom-navbar .nav-link:hover {
        color: #bdcfe8;
    }
}
