@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Get rid of all default margins/paddings. Set typeface */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  background: linear-gradient(to left,               /* Degradado lineal de izquierda a derecha */
        #e1ebe2,
        #e9f0e9,
        #f0f5f0,
        #f8faf8,
        #ffffff
    );
}