{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1 class="Titulos-Pesta text-center"></h1>

{# ----------  BLOQUE PRINCIPAL  ---------- #}
<div class="container download-container mb-5">  {# mb-5 deja aire antes del footer #}


  <div class="row justify-content-center mt-4">
    <div class="col-12 col-md-8">               {# máx. 8 columnas en pantallas medianas #}

      <h4 class="text-center mb-3">Requisitos de sistema</h4>

      <ul class="list-group list-group-flush mb-4">
        <li class="list-group-item text-center guia-uso-parrafo">
          Windows&nbsp;10 v1903&nbsp;(64 bit) o superior
        </li>
        <li class="list-group-item text-center guia-uso-parrafo">
          Microsoft Visual C++ Redistributable 2022
        </li>
        <li class="list-group-item text-center guia-uso-parrafo">
          GPU compatible DirectX 11
        </li>
        <li class="list-group-item text-center guia-uso-parrafo">
          4 GB RAM (8 GB recomendados)
        </li>
        <li class="list-group-item text-center guia-uso-parrafo">
          450 MB de espacio libre
        </li>
      </ul>

      {# ----------- BOTÓN DE DESCARGA ----------- #}
     <!-- <div class="d-flex justify-content-center">
        <form action="{{ download_url }}" method="post">
          <button type="submit" class="btn btn-primary px-10">
            Descargar
          </button>
        </form>
      </div>-->

    </div>
  </div>

</div>  {# /container #}
{% endblock %}
